@import "syntax-variables";
@import "colors";


atom-text-editor {
	background-color: @syntax-background-color;
	color: @syntax-text-color;

	/*+----------+
	+ Elements +
	+----------+*/
	.bracket-matcher .region {
		border: 1px solid @syntax-bracket-matcher-color;
		background-color: fade(@cyan, 27%); //darken(@cyan, 50%);
		box-sizing: border-box;
	}
	.is-focused .cursor {
		border-color: @lace;
	}

	.is-focused .selection .region {
		background-color: @dark-gray;
	}

	.is-focused .line-number.cursor-line-no-selection,
	.is-focused .line.cursor-line {
		background-color: @dark-gray;
	}

	.cursor {
		border-left: 2px solid @syntax-cursor-color;
	}

	.indent-guide {
  		box-shadow: inset 1px 0 @syntax-indent-guide-color;
	}

	.invisible {
		color: @syntax-invisible-character-color;
	}

	.invisible-character {
		color: @syntax-invisible-character-color;
	}

	.line.cursor-line {
		background-color: @syntax-cursor-line;
	}

	.selection .region {
		background-color: @syntax-selection-color;
	}


	.highlight.find-result .region {
		background: lighten(@dark-gray, 3%);
		z-index: -1000;
	}

	.highlight.current-result .region,
	.highlight.current-result ~ .highlight.selection .region {
		background: lighten(@dark-gray, 20%); // to distinguish from the other results
		z-index: -1000;
	}


	/*+--------+
	+ Gutter +
	+--------+*/
	.gutter {
		//font-weight: 300;
		//-webkit-font-smoothing: antialiased;
		background-color: @syntax-gutter-background-color;
		//color: @very-light-gray;
		padding-right: 0;
		margin-right: 0;
		border-right: 1px solid @dark-gray;

		/*.line-number.git-line-modified,
		.line-number.git-line-removed,
		.line-number.git-line-added {
			border-left-width: 5px;
			padding-left: calc(0.5em - 5px);
		}*/

		//.line-numbers {
		//	background: transparent !important;
		//}


		.line-number {
			background: transparent;
			color: @syntax-gutter-text-color;
			border-left-width: 0;
			padding-left: 15px; //calc(0.5em - 5px); //above two from dracula theme
			//padding-right: 0;
			//margin-right: 0;
			//border-right: 0;

			&.git-line-added {
				//background-color: @syntax-gutter-text-color-selected;
				color: @syntax-color-added;
				border-left-color: @syntax-color-added;

				&.cursor-line, //TODO ??
				&.cursor-line-no-selection {
					color: @syntax-color-added;
					border-left-color: @syntax-color-added;
				}
			}

			&.git-line-modified {
				color: @syntax-color-modified;
				border-left-color: @syntax-color-modified;

				&.cursor-line,
				&.cursor-line-no-selection {
					color: @syntax-color-modified;
					border-left-color: @syntax-color-modified;
				}
			}

			&.git-line-removed {
				color: @syntax-color-removed;
				border-left-color: @syntax-color-removed;

				&.cursor-line,
				&.cursor-line-no-selection {
					color: @syntax-color-removed;
					border-left-color: @syntax-color-removed;
				}
			}

			&.cursor-line,
			&.cursor-line-no-selection {
				color: @syntax-gutter-text-color-selected;
				font-weight: bold;
				background-color: @syntax-gutter-background-color-selected;
				//border-right-color: @syntax-gutter-background-color-selected;
				//border-right: @syntax-gutter-background-color-selected;
			}

			.icon-right {
				opacity: 1.0;
				color: @syntax-gutter-text-color;
				transition: all @syntax-transition-time ease;
			}

			.icon-right:hover {
				color: @syntax-gutter-text-color-selected;
				//background-color: @syntax-gutter-text-color-selected;
			}
		}
	}
}

.markdown-preview > atom-text-editor {
  background: @very-dark-gray;
  border: 1px solid @very-dark-gray;
}

.markdown-preview atom-text-editor {
  color: @black;
}


.wrap-guide {
    background-color: @syntax-wrap-guide-color;
}


.syntax--comment {
    font-style: italic;
  color: @light-gray;
}

.syntax--string {
  color: @string-yellow;
}

.syntax--constant.syntax--numeric {
  color: @violet; //@orange; //@violet; //changed @purple;
  font-weight: bold; //changed, added this line
}

.syntax--constant.syntax--language {
  color: @light-violet; //changed @purple;
}

.syntax--constant.syntax--character, .syntax--constant.syntax--other {
  color: @purple;
}

.syntax--variable {
  color: @cyan;
}

.syntax--variable.syntax--other.syntax--readwrite.syntax--instance {
  color: @orange;
}

.syntax--constant.syntax--character.syntax--escaped, .syntax--constant.syntax--character.syntax--escape, .syntax--string .syntax--source, .syntax--string .syntax--source.syntax--ruby {
  color: @pink;
}

.syntax--keyword {
  color: @pink;
}

//added by me changed
.syntax--keyword.syntax--operator {
    color: @spring-green;
    font-weight: bold;
}

//changed by me
.syntax--keyword.syntax--operator.syntax--record{
    color: darken(@white, 7%);
}
//added by me
//.syntax--keyword.syntax--other.syntax--double-colon {
//    color: @orange;
//    font-weight: bold;
//}

//.syntax--identifier{
//    font-style: italic;
//}

.syntax--storage {
  color: @pink;
}

.syntax--storage.syntax--type {
  font-style: italic;
  color: @cyan;
}

.syntax--entity.syntax--name.syntax--class {
  text-decoration: underline;
  color: @green;
}

.syntax--entity.syntax--other.syntax--inherited-class {
  font-style: italic;
  //text-decoration: underline;
  //font-weight: bold;
  color: @yellow; //changed @green; //this is the green Eq, Show underlined, italic
}

.syntax--entity.syntax--name.syntax--function {
  color: @orange-sherbet; //@green;
  font-weight: bold;
}

.syntax--variable.syntax--parameter {
  font-style: italic;
  color: @orange;
}

.syntax--entity.syntax--name.syntax--tag {
  color: @pink;
}

.syntax--entity.syntax--other.syntax--attribute-name {
  color: @green;
}

.syntax--support.syntax--function {
  color: @cyan; //#e5ffbf; // #b2d3ff; //@light-violet;
}

.syntax--support.syntax--constant {
  color: darken(@cyan, 6%);
}

.syntax--support.syntax--type, .syntax--support.syntax--class {
  font-style: italic;
  color: @aqua; //@soft-cyan;
}

.syntax--support.syntax--other.syntax--variable {
}

.syntax--invalid {
  color: @lace;
  background-color: @red; //changed was @pink
}

.syntax--invalid.syntax--deprecated {
  color: @lace;
  background-color: @purple;
}

.syntax--meta.syntax--structure.syntax--dictionary.syntax--json .syntax--string.syntax--quoted.syntax--double.syntax--json {
  color: @sandstone;
}

.syntax--meta.syntax--diff, .syntax--meta.syntax--diff.syntax--header {
  color: @blue;
}

.syntax--markup.syntax--deleted {
  color: @pink;
}

.syntax--markup.syntax--inserted {
  color: @green; //not
}

.syntax--markup.syntax--changed {
  color: @dark-yellow;
}

.syntax--constant.syntax--numeric.line-number.syntax--find-in-files:not(.match) {
  color: @violet; //changed @purple;
}

.syntax--entity.syntax--name.syntax--filename {
  color: @dark-yellow; //@pink;
} //used to be @dark-yellow

.syntax--message.syntax--error {
  color: @red; //changed  #F83333;
}


.syntax--punctuation.syntax--definition.syntax--string.syntax--begin.syntax--json:not(.syntax--meta.syntax--structure.syntax--dictionary.syntax--value.syntax--json), .syntax--punctuation.syntax--definition.syntax--string.syntax--end.syntax--json:not(.syntax--meta.syntax--structure.syntax--dictionary.syntax--value.syntax--json) {
  color: darken(@white, 7%);
}

.syntax--meta.syntax--structure.syntax--dictionary.syntax--json .syntax--string.syntax--quoted.syntax--double.syntax--json {
  color: @cyan;
}

.syntax--meta.syntax--structure.syntax--dictionary.syntax--value.syntax--json .syntax--string.syntax--quoted.syntax--double.syntax--json {
  color: @string-yellow;
}

.syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta.syntax--structure.syntax--dictionary.syntax--value .syntax--string {
  color: @green;
}

.syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta.syntax--structure.syntax--dictionary.syntax--value .syntax--string {
  color: @orange;
}

.syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta.syntax--structure.syntax--dictionary.syntax--value .syntax--string {
  color: @pink;
}

.syntax--meta .syntax--meta .syntax--meta .syntax--meta.syntax--structure.syntax--dictionary.syntax--value .syntax--string {
  color: @violet; //changed @purple;
}

.syntax--meta .syntax--meta .syntax--meta.syntax--structure.syntax--dictionary.syntax--value .syntax--string {
  color: @green;
}

.syntax--meta .syntax--meta.syntax--structure.syntax--dictionary.syntax--value .syntax--string {
  color: @orange;
}

.syntax--heading.syntax--gfm {
  color: @purple;
}

.syntax--entity.syntax--gfm {
  color: @pink;
}

.syntax--markup.syntax--underline.syntax--link.syntax--gfm {
  color: @cyan; //@peacock-blue; //changed @cyan;
}

.syntax--variable.syntax--unordered.syntax--list.syntax--gfm {
  color: @cyan;
}

.syntax--variable.syntax--ordered.syntax--list.syntax--gfm {
  color: @cyan;
}

.syntax--variable.syntax--other.syntax--normal.syntax--shell {
  color: @purple;
}

.syntax--markup.syntax--bold.syntax--gfm {
  color: @orange;
}

.syntax--markup.syntax--italic.syntax--gfm {
  color: @string-yellow;
}

.syntax--markup.syntax--strike.syntax--gfm {
  color: @red;
}

.syntax--markup.syntax--raw.syntax--gfm {
  color: @green; //not
}

.syntax--code.syntax--gfm {
  color: @green; //not
}

.syntax--code.syntax--gfm .syntax--link {
    color: @cyan;
}

.syntax--critic.syntax--gfm.syntax--addition {
  color: @green; //not
}

.syntax--critic.syntax--gfm.syntax--deletion {
  color: @red;
}

.syntax--critic.syntax--gfm.syntax--substitution {
  color:  @orange;
}

.syntax--critic.syntax--gfm.syntax--highlight {
  color: @pink;
}

.syntax--critic.syntax--gfm.syntax--comment {
  color: @blue;
}

[data-zen="true"] atom-pane-container atom-pane .item-views {
  background: @very-dark-gray !important;
}

// Highlights #{} in ruby string interpolation and <?php ?> syntax tag
//.syntax--punctuation.syntax--section.syntax--embedded.syntax--begin,
//.syntax--punctuation.syntax--section.syntax--embedded.syntax--end {
//  color: @orange;
//}
